<div class="bgimage">
  <h1><marquee>Store your data in minimum time</marquee></h1>
    <br><br><br><br>
  <fieldset class="field">
    <div class="heading">
      <h2><i class="in_heading"></i>Enter Data to be sent</h2>
    </div>
  <br>
 <div class="style">
  File Type:
  <select style=" border: 2px solid darkturquoise" #t1  (click)=abc(t1.value) >
    <option value=".txt"> .txt </option>
    <option value=".json"> .json </option>
    <option value=".xml"> .xml </option>
    <option value=".csv"> .csv </option>
  </select>
  <br><br>
  Upload Your File:
  <input style=" border: 2px solid darkturquoise" type="file" value="file"  accept={{t}}>
  <br><br>
<div class="center">
  <button class="buttons" type="submit">Submit</button>

  <input class="buttons" type="reset">
</div></div>
  </fieldset>

</div>